### 1. 반지름(r)이 5인 원의 넓이(area)를 제곱 연산자를 이용하여 구하는 프로그램을 작성하시오. (원주율은 3.14)

In [ ]:
r = 5
area = r ** 2 * 3.14
print(area)

78.5

### 2. 변수 x, y 에 11, 22 를 각각 대입하고, 다른 변수 z를 이용하여 두 수를 교환하는 프로그램을 작성하시오.

In [ ]:
x, y = 11, 22
z = x
x = y
y = z
print("x =", x, "\ny =", y)

x = 22
y = 11

### 3. 다음 코드의 실행 결과를 확인하시오.

`>>>` python = 'python is easy programming language.'

`>>>` python[10:25]

In [ ]:
python = 'python is easy programming language.'
print(python[10:25])

easy programmin

### 4. name, age, location 변수를 생성하고 각각 'Kevin', 25, 'New York'을 대입한 후, 변수를 이용하여 아래와 같은 문장이 출력하는 코드를 작성하시오.
Hello! My name is Kevin. I'm from New York. I am 25 years old.

In [ ]:
name = 'Kevin'
age = 25
location = 'New York'
print(f"Hello! My name is {name}. I'm from {location}. I am {age} years old.")

Hello! My name is Kevin. I'm from New York. I am 25 years old.

### 5. 변수 string1 은 'red apple', 변수 string2는 'yellow banana'의 문자열을 담고 있다. 문자열 인덱싱을 이용하여 'red banana', 'yellow apple'을 출력해 보자.

In [ ]:
string1 = 'red apple'
string2 = 'yellow banana'

print("<문자열 인덱싱 이용>")
r = string1[0] + string1[1] + string1[2]
b = string2[-6] + string2[-5] + string2[-4] + string2[-3] + string2[-2] + string2[-1]
y = string2[0] + string2[1] + string2[2] + string2[3] + string2[4] + string2[5]
a = string1[-5] + string1[-4] + string1[-3] + string1[-2] + string1[-1]
print(r, b)
print(y, a)

print("\n<문자열 슬라이싱 이용>")
print(string1[:3], string2[-6:])
print(string2[:6], string1[4:])

<문자열 인덱싱 이용>
red banana
yellow apple

<문자열 슬라이싱 이용>
red banana
yellow apple