### 1. words_list 라는 list 안에 love, hate, I, happy, you, am, birthday, to, from, for, me, **dog** 라는 단어가 차례로 포함되어 있다. 이 단어들을 조합하여 2개의 문장을 만드시오.

In [ ]:
words_list = ['love', 'hate', 'I', 'happy', 'you', 'am', 'birthday', 'to', 'from', 'for', 'me', 'dog']
index_list = [2, 0, 10, 3, 6, 7, 4]

count = 0
sentence_1 = ''
sentence_2 = ''
for i in index_list:
  if count <3:
    sentence_1 += words_list[i] + ' '
    count += 1
  else:
    sentence_2 += words_list[i] + ' '

print("문장 1: {}".format(sentence_1))
print("문장 2: {}".format(sentence_2))

문장 1: I love me
문장 2: happy birthday to you

### 2. 어느 카페의 메뉴가 4가지 있다. Americano, Cafe latte, Green tea latte, Cafe mocha 각 메뉴의 가격은 3000원, 4000원, 4500원, 5000원일 때, 이 메뉴 목록을 dictionary로 작성하고 Cafe latte와 Cafe mocha 를 주문했을 때 결제액을 계산하는 프로그램을 작성하시오.

In [ ]:
menu = {'Americano': 3000, 'Cafe latte': 4000, 'Green tea latte': 4500, 'Cafe mocha': 5000}

order = ['Cafe latte', 'Cafe mocha']
sum = 0

for i in order:
  if i == 'Americano':
    sum += menu.get('Americano')
  elif i == 'Cafe latte':
    sum += menu.get('Cafe latte')
  elif i == 'Green tea latte':
    sum += menu.get('Green tea latte')
  else:
    sum += menu.get('Cafe mocha')

print(f"주문 금액은 {sum}원 입니다.")

주문 금액은 9000원 입니다.

### 3. 리스트를 원소로 갖는 리스트의 각 원소들의 합을 구하는 프로그램을 작성하시오.

a = [(1,2), (3,4),(6,7),(10,11)]

(hint) for (n1,n2) in a:

In [ ]:
a = [(1, 2), (3, 4), (6, 7), (10, 11)]

for (n1, n2) in a:
  sum = 0
  sum += n1 + n2
  print(sum)

3
7
13
21

### 4. 10~30 사이의 홀수를 출력하는 프로그램을 작성하시오.

In [ ]:
sum = 0

for i in range(10, 30):
  if i % 2 == 1:
    sum += i
  else:
    pass
print(sum)

200

### 5. 2020년이 윤년인지 검사하는 프로그램을 작성하시오.


*  400 으로 나누어 떨어지는 해는 윤년이다.
*  4로 나누어 떨어지는 해는 윤년이다.
*  4로 나누어 떨어지지만 100으로 나누어 떨어지는 해는 윤년이 아니다.

In [ ]:
year = 2020

if (year % 400 == 0) | (year % 4 == 0 & year % 100 != 0):
  print("%d년은 윤년입니다." %year)
else:
  print("%d년은 평년입니다." %year)

2020년은 평년입니다.