# Coding Quiz #1

## 1부터 100 사이의 홀수와 짝수의 누적합을 구하시오. (10점)

In [ ]:
even_sum = 0
odd_sum = 0

for i in range(1, 101):
  if i % 2  == 0:
    even_sum += i
  else:
    odd_sum += i

print("1~100 홀수 누적합:", odd_sum)
print("1~100 짝수 누적합:", even_sum)

1~100 홀수 누적합: 2500
1~100 짝수 누적합: 2550

## 2부터 100 사이의 소수를 구하는 코드를 작성하시오. (30점)

In [ ]:
for i in range(2, 101):
  for j in range(2, 101):
    if i % j == 0:
      if i != j:
        break
      else:
        print(i)
    else:
      pass

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## 가장 짧은 도시 이름을 출력하는 코드를 작성하시오. (30점)

In [ ]:
cities = ['daejeon', 'seoul', 'daegu', 'busan', 'chuncheon', 'uijeongbu']

shortlist = []
shortword = cities[0]
for i in cities:
  if len(i) < len(shortword):
    shortlist.clear()
    shortword = i
    shortlist.append(i)
  elif len(i) == len(shortword):
    shortword = i
    shortlist.append(i)
  else:
    pass

print(shortlist)

['seoul', 'daegu', 'busan']

## 나이에 따른 입장료를 계산하는 코드를 작성하시오. (30점)

* 1~7세: 1000원
* 8~20세: 2000원
* 21~40세: 3000원
* 41~세: 1500원

In [ ]:
age = 30
pay = 0

if age < 8:
  pay = 1000
elif age < 21:
  pay = 2000
elif age < 41:
  pay = 3000
else:
  pay = 1500

print("나이: {0}, 입장료: {1}".format(age, pay))

나이: 30, 입장료: 3000